.landing{
    top:0;
    height:100vh;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    box-sizing: border-box;
    background-color: var(--background);

}
.landing-left{
    width: 50%;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.landing-right{
    width:50%;
    height:100%;
    background-image:url('../../images/me.jpeg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat
}
.landing-content{
    height:50%;
    padding-right: 25%;
}
.landing-welcome{
    width:240px;
    background-color:rgba(136,96,208,0.3);
    height:auto;
    color:var(--primary);
    padding: 15px 10px;
    border-radius:5px;
    text-align:center;
}
.landing-welcome h1{
    font-weight:700;
    font-size:24px;
    color:var(--primary);
    line-height:24px

}
.landing-content .landing-para{
    line-height:1.25em;
}
@media only screen and (max-width: 900px){
    .landing-right{
        display: none !important;

    }
    .landing-left{
        width: 100%;
        margin-top: 10vh;
    }
    .landing{
        padding-left:0;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    .landing-content{
       padding-right:0;
       display: flex;
       height:70% !important;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    #root > div > div > div.landing > div.landing-left > div > h1{
        font-size:44px !important
    }
    .landing-content .landing-para1{
        font-size:20px!important
    }
    .landing-content .landing-para{
        padding:30px 30px!important;
        text-align: center;
    }
}

@media only screen and (max-width: 1248px){
    .landing{
        padding-left: 5%;
    }
    .landing-right{
        width:70%
    }
    .landing-content{
        padding-right: 5%!important;
        height:60% !important
    }
    .landing-para{
        padding: 20px 0px !important;
    }
}