@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
:root{
  --primary:rgb(136,96,208);
  --darkGray:#444242;
  --text:#474747;
  --black:black;
  --span:rgb(87, 87, 87);
  --white:white;
  --background:#FAFAFA;
  --logo:'../../images/logo.png';
  --border:rgb(229,231,235);
}
[data-theme='dark']{
  --primary:rgb(136,96,208);
  --darkGray:#FAFAFA;
  --text:#dadada;
  --black:white;
  --white:black;
  --span:rgb(175, 175, 175);
  --background:rgb(15, 15, 15);
  --logo:'../../images/logo-dark.png';
  --border:rgb(26,24,20);
}
*{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
  
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border: 2px solid white;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
